.Search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .Search-img {
    img {
      width: 240px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    .Rotate-img {
      animation-name: spin;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }

    .Arrow {
      top: 15%;
      left: 60%;
      transform: translateX(-60%) translateY(-50%) rotate(70deg);
      width: 100px;
    }

    @keyframes spin {
      from {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
      }

      to {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
      }
    }
  }

  h3 {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-15%);
  }
}

.Search-result {
  display: flex;
  flex-wrap: wrap;
}

/* MusicForm.css */

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  height: 64vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.main-home h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.music-form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-control,
.form-control-file,
.btn-submit {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn-submit {
  margin-top: 30px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #45a049;
}

@media only screen and (max-width: 1400px) {
  .container {
    height: 80vh;
  }
}

@media only screen and (max-width: 760px) {
  .container {
    height: 80vh;
  }
}